<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>



    @Scripts.Render("~/bundles/jquery")


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")

    <link href="~/Scripts/jquery-3.6.0.min.js" />
    <link href="~/Content/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.css" rel="stylesheet" />



</head>
<body>
    <main>
        <div class="sidenav" id="main-menu">
            <a href='@Url.Action("Index", "Home")'>
                <img class="logo" src="~/Content/Images/logo.png" alt="Samokat.city" />
            </a>

            @Html.ActionLink("Главная", "Index", "Home")
            @Html.ActionLink("Заказы", "Index", "Orders")
            @Html.ActionLink("Транспорт", "Index", "Transports")
            @Html.ActionLink("Аксессуары", "Index", "Accessories")
            @Html.ActionLink("Тарифы", "Index", "Rates")
            @Html.ActionLink("Акции", "Index", "Promotions")
            @Html.ActionLink("Клиенты", "Index", "Users")
        </div>
        <div class="content">

            @RenderBody()

            <footer>
                <p>&copy; @DateTime.Now.Year - BlackSmile Team</p>
            </footer>
        </div>

    </main>

</body>

</html>
