<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-3.5.1.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")


</head>
<body>
    <main>
        <div class="sidenav" id="main-menu">
            <a href='@Url.Action("Index", "Home")'>
                <img class="logo" src="~/Content/Images/logo.png" alt="Samokat.city" />
            </a>

            @Html.ActionLink("Главная", "Index", "Home")
            @Html.ActionLink("Заказы", "Index", "Orders")
            @Html.ActionLink("Транспорт", "Index", "Transports")
            @Html.ActionLink("Аксессуары", "Index", "Accessories")
            @Html.ActionLink("Тарифы", "Index", "Rates")
            @Html.ActionLink("Клиенты", "Index", "Users")
        </div>
        <div class="content">
            <div class="avatarPosition">
                <img src="~/Content/Images/noavatar.png" alt="Avatar" />
                <label>Администратор</label>
            </div>

            @RenderBody()

            <footer>
                <p>&copy; @DateTime.Now.Year - BlackSmile Team</p>
            </footer>
        </div>

    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</body>

</html>
