@model SCS.Models.Rates

@{
    ViewBag.Title = "Edit";
}


<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="divTable">
            <h2>Изменить тариф</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)


            <div class="moreInformationOrder">
                <nobr>
                    Наименование тарифа
                </nobr>
                <div class="orderTableMore">
                    <div class=" moreInformationRates">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="moreInformationOrder">
                <nobr>
                    Время начала действия тарифа
                </nobr>
                <div class="orderTableMore">
                    <div class=" moreInformationRates">
                        @Html.EditorFor(model => model.TimeStart, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TimeStart, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="moreInformationOrder">
                <nobr>
                    Время окончания действия тарифа
                </nobr>
                <div class="orderTableMore">
                    <div class=" moreInformationRates">
                        @Html.EditorFor(model => model.TimeEnd, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TimeEnd, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="moreInformationOrder">
                <nobr>
                    Продолжительность, ч
                </nobr>
                <div class="orderTableMore">
                    <div class=" moreInformationRates">
                        @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="moreInformationOrder">
                <nobr>
                    Цена, руб
                </nobr>
                <div class="orderTableMore">
                    <div class=" moreInformationRates">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="moreInformationOrder">
                <nobr>
                    Транспортный тариф
                </nobr>
                <div class="orderTableMore">
                    <div class=" moreInformationRates">
                        @Html.CheckBox("IsTransport", Model.IsTransport, new { @class = "checkboxTransport" })
                    </div>
                </div>
            </div>

            <div class="col-md-offset-2 mb-5">
                <input type="submit" value="Сохранить" class="btn btn btn-danger float-md-left" />
            </div>
        </div>
    }

</div>
