@model SCS.Models.Transport

@{
    ViewBag.Title = "Добавить транспорт";
}

<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="divTable">

            <h2>Добавить транспорт</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                <div class="col-md-10">
                    <label>Наименование модели</label>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-10">
                    <label>Наценка за выходной день</label>
                    @Html.EditorFor(model => model.Markup, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Markup, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn btn-danger float-md-left" />
            </div>
            <br />
        </div>
    }

</div>
