@model SCS.Models.Transport

@{
    ViewBag.Title = "Удалить";
}

<div class="container">
    <div class="divTable">
        <h3>Вы уверены что хотите удалить данный транспорт?</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.LabelFor(model => model.TransportModels.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TransportModels.Name)
            </dd>

            <dt>
                @Html.LabelFor(model => model.SerialNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SerialNumber)
            </dd>

            <dt>
                @Html.LabelFor(model => model.IndexNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IndexNumber)
            </dd>

        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="ДА" class="btn btn btn-danger float-md-left" />
                <a class="btn btn btn-primary ml-4" href="@Url.Action("Index", "TModels")">
                    Отмена
                </a>
            </div>
        }
    </div>
</div>
