@model SCS.Models.Order

@{
    ViewBag.Title = "Удалить";
}

<div class="container">
    <div class="divTable">
        <h4>
            <b>Вы уверены что хотите удалить данный заказ?</b>
        </h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("Пользователь")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateStart)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateStart)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StatusOrder)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StatusOrder)
            </dd>

            <dt>
                @Html.Label("Итоговая сумма")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Payment.TotalSum)
            </dd>


        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="ДА" class="btn btn btn-danger float-md-left" />
                <a class="btn btn btn-primary ml-4" href="@Url.Action("Index","Orders")">
                    Отмена
                </a>
            </div>
        }
    </div>
</div>
