@model SCS.Models.Order

@{
    ViewBag.Title = "Детали";
}

<div class="orderTable">
    <div class="moreInformationOrder">
        <nobr>
            О клиенте
        </nobr>
        <div class="orderTableMore">
            @if (Model.User != null && Model.User.ContactUser != null && Model.User.ContactUser.Passport != null)
            {
                <p>Паспорт: @Html.DisplayFor(model => model.User.ContactUser.Passport)</p>
                <p>Адрес: @Html.DisplayFor(model => model.User.ContactUser.City), ул. @Html.DisplayFor(model => model.User.ContactUser.Street), д. @Html.DisplayFor(model => model.User.ContactUser.Home)</p>
                <p style="margin-bottom:0em">Телефон: @Html.DisplayFor(model => model.User.ContactUser.Phone)</p>
            }
            else
            {
                <p>Данные отсутствуют</p>
            }
        </div>
    </div>
    <hr class="hrPunct" />
    <div class="moreInformationOrder">
        <nobr>
            Данные заказа
        </nobr>
        <div class="orderTableMore">
            @if (Model.OrderTransports.Count > 0)
            {
                <div class=" moreInformationRates">
                    <div class="orderTableMore">
                        <p>Тариф</p>
                    </div>
                    <br />
                    <div class="orderTableMore">
                        <p>
                            @Model.OrderTransports.First().Rates.Name
                        </p>
                    </div>
                </div>

            }
            @if (Model.OrderTransports.Count > 0)
            {
                <div class=" moreInformationRates">
                    <div class="orderTableMore">
                        <p>Транспорт</p>
                    </div>
                    <br />
                    <div class="orderTableMore">
                        @foreach (var ot in Model.OrderTransports)
                        {
                            <p>  @ot.Transport.TransportModels.Name</p>
                        }
                    </div>
                </div>
            }
            @if (Model.OrderAccessories.Count > 0)
            {
                <div class=" moreInformationRates">
                    <div class="orderTableMore">
                        <p>Аксессуары</p>
                    </div>
                    <br />
                    <div class="orderTableMore">
                        @foreach (var oa in Model.OrderAccessories)
                        {
                            <p>  @oa.Accessories.Name</p>
                        }
                    </div>
                </div>
            }

            <div class=" moreInformationRates">
                <div class="orderTableMore">
                    <p>Количество замков</p>
                </div>
                <br />
                <div class="orderTableMore">
                    <p>@Model.CountLock</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="hrPunct" />


    <div class="moreInformationOrder">
        <nobr>
            Оплата
        </nobr>
        <div class="orderTableMore">
            @if (Model.Payment != null)
            {
                <div class=" moreInformationRates">
                    <div class="orderTableMore">
                        <p>
                            Оплата наличными - @Model.Payment.CashPayment
                        </p>
                        <p>
                            Оплата картой - @Model.Payment.CardPayment
                        </p>
                        <p style="margin-bottom:0em">
                            Оплата бонусами - @Model.Payment.BonusPayment
                        </p>
                    </div>
                    <br />
                    <div class="orderTableMore">
                        <p>
                        <p>
                            Залог наличными - @Model.Payment.CashDeposit
                        </p>
                        <p>
                            Залог картой - @Model.Payment.CardDeposit
                        </p>
                        <p style="margin-bottom:0em">
                            Скидка - @Model.Discount
                        </p>
                        </p>
                    </div>
                </div>
            }
            else
            {
                <p>Отсутствует</p>
            }

        </div>
    </div>
    <hr class="hrPunct" />
    <div class="moreInformationOrder">
        <nobr>
            Начисленные бонусы
        </nobr>
        <div class="orderTableMore">
            <div class=" moreInformationRates">
                <p>
                    @Model.AddBonuses
                </p>
            </div>
        </div>
    </div>

    <div class="moreInformationOrder">
        <nobr>
            Примечание
        </nobr>
        <div class="orderTableMore">
            <div class=" moreInformationRates">

                @if (!string.IsNullOrEmpty(Model.Note))
                {
                    <p>
                        @Model.Note;
                    </p>
                }
                else
                {
                    <p>
                        Отсутствует
                    </p>
                }
            </div>
        </div>
    </div>


    <hr class="hrPunct" />
    <div class="moreInformationOrder">
        <nobr>
        </nobr>
        <div class="orderTableMore">
            <div class=" moreInformationRates">
                @if (@Model.Payment != null)
                {
                    <p>
                        <b>Всего:</b>  @Model.Payment.TotalSum, руб
                    </p>
                    <p>
                        <b>Осталось к оплате:</b> @(Model.Payment.TotalSum - Model.Payment.CashPayment - Model.Payment.CashDeposit - Model.Payment.CardPayment - Model.Payment.CardDeposit - Model.Payment.BonusPayment - Model.Discount), руб
                    </p>
                }
                else
                {
                    <p>
                        <b> Отсутствует</b>
                    </p>
                }
            </div>
        </div>
    </div>
    <br />
    <a href="@Url.Action("CreateOrderDocument",new { id = Model.Id })" class="btn btn-info">
        Скачать документ
    </a>
</div>
