@model SCS.Models.Order

@{
    ViewBag.Title = "Детали";
}

<div class="orderTable">
    <div class="moreInformationOrder">
        <nobr>
            О клиенте
        </nobr>
        <div class="orderTableMore">
            @if (Model.User != null && Model.User.ContactUser != null && Model.User.ContactUser.Passport != null)
            {
                <p>Паспорт: @Html.DisplayFor(model => model.User.ContactUser.Passport)</p>
                <p>Адрес: @Html.DisplayFor(model => model.User.ContactUser.City), ул. @Html.DisplayFor(model => model.User.ContactUser.Street), д. @Html.DisplayFor(model => model.User.ContactUser.Home)</p>
                <p>Телефон: @Html.DisplayFor(model => model.User.ContactUser.Phone)</p>
            }
            else
            {
                <p>Данные отсутствуют</p>
            }
        </div>
    </div>
    <hr class="hrPunct" />
    <div class="moreInformationOrder">
        <nobr>
            Тарифы
        </nobr>
        <div class="orderTableMore">
            <div class=" moreInformationRates">
                <div class="orderTableMore">
                    @foreach (var oa in ViewBag.Accessories)
                    {
                        <p>@oa.Name</p>
                    }
                </div>
            </div>
            <div class=" moreInformationRates">
                <div class="orderTableMore">
                    @foreach (var oa in Model.OrderTransports)
                    {
                        <p>
                            @oa.Rates.Name
                        </p>
                    }
                </div>
                <br />
                <div class="orderTableMore">
                    @foreach (var oa in Model.OrderTransports)
                    {
                        <p>  @oa.Transport.Name</p>
                    }
                </div>
            </div>
            <div class=" moreInformationRates">
                <div class="orderTableMore">
                    <p>Количество замков</p>
                </div>
                <br />
                <div class="orderTableMore">
                    <p>@Model.CountLock</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="hrPunct" />
    <div class="moreInformationOrder">
        <nobr>
            Оплата
        </nobr>
        <div class="orderTableMore">

            @if (Model.Payment != null)
            {
                <p>
                    @Model.Payment.CashPayment - оплата наличными
                </p>
                <p>
                    @Model.Payment.CardPayment - оплата картой
                </p>
                <p>
                    @Model.Payment.BonusPayment - оплата бонусами
                </p>
                <p>
                    @Model.Payment.CashDeposit - залог наличными
                </p>
                <p>
                    @Model.Payment.CardDeposit - залог картой
                </p>

            }
            else
            {
                <p>Отсутствует</p>
            }

        </div>
    </div>

    <hr class="hrPunct" />
    <div class="moreInformationOrder">
        <nobr>
            Скидка
        </nobr>
        <div class="orderTableMore">
            <div class=" moreInformationRates">
                <p>
                    @Model.Discount
                </p>
            </div>
        </div>
    </div>

    <hr class="hrPunct" />
    <div class="moreInformationOrder">
        <nobr>
            Начисленные бонусы
        </nobr>
        <div class="orderTableMore">
            <div class=" moreInformationRates">
                <p>
                    @Model.AddBonuses
                </p>
            </div>
        </div>
    </div>

    <hr class="hrPunct" />
    <div class="moreInformationOrder">
        <nobr>
            <b> Итого:</b>
        </nobr>
        <div class="orderTableMore">
            <div class=" moreInformationRates">
                @if (@Model.Payment != null)
                {
                    <p>
                        <b>Всего - @Model.Payment.TotalSum, руб</b>
                    </p>
                    <p>
                        <b>Осталось к оплате - @(Model.Payment.TotalSum - Model.Payment.CashPayment - Model.Payment.CashDeposit - Model.Payment.CardPayment - Model.Payment.CardDeposit - Model.Payment.BonusPayment - Model.Discount), руб</b>
                    </p>
                }
                else
                {
                    <p>
                        <b> Отсутствует</b>
                    </p>
                }
            </div>
        </div>
    </div>
</div>