@model IEnumerable<SCS.Models.Order>

@{
    ViewBag.Title = "Заказы";
}
<div class="container">
    <div class="divTable">
        <h4><b>Заказы</b></h4>
        <hr />
        @using (Ajax.BeginForm("Filter", new AjaxOptions { UpdateTargetId = "result" }))
        {
            @Html.AntiForgeryToken()
            <div class="moreInformationOrder">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="orderTableMore">
                    @Html.Label("Статус заказа")
                    @Html.DropDownList("statusOrder", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="orderTableMore">
                    @Html.Label("Дата заказа с:")
                    <input type="date" id="dateStart" name="dateStart" value="@String.Format("{0:yyyy-MM-dd}", DateTime.Now)" data-date-format="m/d/yyyy" class="form-control" title="Дата начала действия заказа">
                </div>
                <div class="orderTableMore">
                    @Html.Label("Дата заказа по:")
                    <input type="date" id="dateEnd" name="dateEnd" class="form-control" value="@String.Format("{0:yyyy-MM-dd}", DateTime.Now)" data-date-format="m/d/yyyy" title="Дата окончания действия заказа" />
                </div>
                <div class="orderTableMore">
                    <div></div>
                    <input type="submit" value="Поиск" id="search" class="btn btn-outline-dark" />
                </div>
            </div>
        }

        <table class="table" id="result">
            <tr style="background-color: #F5F5F5">
                <th></th>
                <th>
                    @Html.Label("Номер заказа")
                </th>
                <th>
                    @Html.Label("Имя пользователя")
                </th>
                <th>
                    @Html.Label("Дата заказа")
                </th>
                <th>
                    @Html.Label("Статус заказа")
                </th>
                <th></th>
            </tr>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a class="btn dropdown-toggle dropdown-toggle-split" id="icon-@item.Id" onclick="showDetails(@item.Id)" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.ContactUser.Surname)
                            @Html.DisplayFor(modelItem => item.User.ContactUser.Name)
                            @Html.DisplayFor(modelItem => item.User.ContactUser.Patronymic)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateStart)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StatusOrder)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Orders", new { id = item.Id })">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" />
                                    <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z" />
                                </svg>
                            </a>
                            <a href="@Url.Action("Delete", "Orders", new { id = item.Id })" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </td>
                    </tr>
                    <tr id="@item.Id" style="display:none">
                        <td colspan="6">
                            @Html.Action("Details", new { id = item.Id })
                        </td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td colspan="6">
                        <center>Данные отсутствуют</center>
                    </td>
                </tr>
            }


        </table>


        <a href="@Url.Action("Create","Orders")" class="btn btn-default btn-circle">
            +
        </a>
    </div>
</div>





@section Scripts {
    <script>
        function showDetails(id) {
            var x = document.getElementById(id);
            if (x.style.display === 'none') {
                x.removeAttribute("style");
                var icon = document.getElementById("icon-" + id);
                icon.style.transform = 'rotate(-180deg)';

            } else {
                x.style.display = 'none';
                var icon = document.getElementById("icon-" + id);
                icon.style.transform = 'rotate(0deg)';
            }
        };
    </script>
}
