@model SCS.Models.User

@{
    ViewBag.Title = "Детали";
}

<div class="userTableDetails">
    <div class="moreInformationOrder">
        <nobr>
            Паспортные данные
        </nobr>

        <div class="orderTableMore">
            <div class=" moreInformationRates">
                <div class="orderTableMore">
                    <p>Серия и номер паспорта</p>
                </div>
                <br />
                <div class="orderTableMore">
                    <p>@Html.DisplayFor(model => model.ContactUser.Passport)</p>
                </div>
            </div>
            <div class=" moreInformationRates">
                <div class="orderTableMore">
                    <p>Адрес проживания</p>
                </div>
                <br />
                <div class="orderTableMore">
                    <p>Город: @Html.DisplayFor(model => model.ContactUser.City)</p>
                    <p>Улица: @Html.DisplayFor(model => model.ContactUser.Street)</p>
                    <p>Дом: @Html.DisplayFor(model => model.ContactUser.Home)</p>
                    <p>Квартира: @Html.DisplayFor(model => model.ContactUser.Apartment)</p>
                </div>
            </div>
        </div>


    </div>
    <hr class="hrPunct" />
    <div class="moreInformationOrder">
        <nobr>
            Данные о клиенте
        </nobr>
        <div class="orderTableMore">
            <div class=" moreInformationRates">
                <div class="orderTableMore">
                    <p>ФИО</p>
                </div>
                <br />
                <div class="orderTableMore">
                    <p>@Model.ContactUser.Surname @Model.ContactUser.Name @Model.ContactUser.Patronymic</p>
                </div>
            </div>
            <div class=" moreInformationRates">
                <div class="orderTableMore">
                    <p>Контактный телефон</p>
                </div>
                <br />
                <div class="orderTableMore">
                    <p>@Model.ContactUser.Phone</p>
                </div>
            </div>
            
        </div>
    </div>

</div>