@model SCS.Models.User

@{
    ViewBag.Title = "Изменить пользователя";
}

<div class="orderTable">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Редактировать данные о пользователе</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="moreInformationOrder">
            <nobr>
                Авторизационные данные
            </nobr>
            <div class="userTable">
                <div class=" moreInformationRates">
                    <div class="userTable">
                        <p>Логин</p>
                    </div>
                    <br />
                    <div class="userTable">
                        <input value=@Model.Username class="form-control" name="Username" id="Username" required />
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class=" moreInformationRates">
                    <div class="userTable">
                        <p>Пароль</p>
                    </div>
                    <br />
                    <div class="userTable">
                        <input value=@Model.Password class="form-control" name="Password" id="Password" required />
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="moreInformationOrder">
            <nobr>
                Данные о клиенте
            </nobr>
            <div class="userTable">
                <div class=" moreInformationRates">
                    <div class="userTable">
                        <p>Фамилия</p>
                    </div>
                    <br />
                    <div class="userTable">
                        <input value=@Model.ContactUser.Surname class="form-control" name="Surname" id="Surname" required />
                        @Html.ValidationMessageFor(model => model.ContactUser.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class=" moreInformationRates">
                    <div class="userTable">
                        <p>Имя</p>
                    </div>
                    <br />
                    <div class="userTable">
                        <input value=@Model.ContactUser.Name class="form-control" name="Name" id="Name" required />
                        @Html.ValidationMessageFor(model => model.ContactUser.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class=" moreInformationRates">
                    <div class="userTable">
                        <p>Отчетсво</p>
                    </div>
                    <br />
                    <div class="userTable">
                        <input value=@Model.ContactUser.Patronymic class="form-control" name="Patronymic" id="Patronymic"required />
                        @Html.ValidationMessageFor(model => model.ContactUser.Patronymic, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class=" moreInformationRates">
                    <div class="userTable">
                        <p>Контактный телефон</p>
                    </div>
                    <br />
                    <div class="userTable">
                        <input type="tel" pattern="^\+7\d{3}\d{7}$" value=@Model.ContactUser.Phone inputmode="tel" class="form-control" name="Phone" id="Phone" maxlength="12" required />
                        @Html.ValidationMessageFor(model => model.ContactUser.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="moreInformationOrder">
            <nobr>
                Паспортные данные
            </nobr>
            <div class="userTable">
                <div class=" moreInformationRates">
                    <div class="userTable">
                        <p>Серия и номер паспорта</p>
                    </div>
                    <br />
                    <div class="userTable">
                        <input value=@Model.ContactUser.Passport class="form-control" name="Passport" id="Passport" required />
                        @Html.ValidationMessageFor(model => model.ContactUser.Passport, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class=" moreInformationRates">
                    <div class="userTable">
                        <p>Город</p>
                    </div>
                    <br />
                    <div class="userTable">
                        <input value=@Model.ContactUser.City class="form-control" name="City" id="City" required />
                        @Html.ValidationMessageFor(model => model.ContactUser.City, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class=" moreInformationRates">
                    <div class="userTable">
                        <p>Улица</p>
                    </div>
                    <br />
                    <div class="userTable">
                        <input value=@Model.ContactUser.Street class="form-control" name="Street" id="Street" required />
                        @Html.ValidationMessageFor(model => model.ContactUser.Street, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class=" moreInformationRates">
                    <div class="userTable">
                        <p>Дом</p>
                    </div>
                    <br />
                    <div class="userTable">
                        <input value=@Model.ContactUser.Home class="form-control" name="Home" id="Home" required />
                        @Html.ValidationMessageFor(model => model.ContactUser.Home, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class=" moreInformationRates">
                    <div class="userTable">
                        <p>Квартира</p>
                    </div>
                    <br />
                    <div class="userTable">
                        <input value=@Model.ContactUser.Apartment class="form-control" name="Apartment" id="Apartment" required />
                        @Html.ValidationMessageFor(model => model.ContactUser.Apartment, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-offset-2 col-md-10">

            <input type="submit" value="Сохранить" class="btn btn btn-primary ml-0 " />
            <a class="btn btn btn-danger " href="@Url.Action("Index","Users")">
                Отмена
            </a>
        </div>
    </div>
    }
</div>
