@model IEnumerable<SCS.Models.User>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="divTable">

        <h4><b>Клиенты</b></h4>
        <table class="table" id="result">
            <tr style="background-color: #F5F5F5">
                <th style="width:1px;padding:0"></th>
                <th>
                    @Html.Label("ФИО пользователя")
                </th>
                <th>
                    @Html.Label("Логин")
                </th>
                <th>
                    @Html.Label("Скидка")
                </th>
                <th>
                    @Html.Label("Количество бонусов")
                </th>
                <th>
                    @Html.Label("Наценка")
                </th>
                <th></th>
            </tr>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a class="btn dropdown-toggle dropdown-toggle-split" id="icon-@item.Id" onclick="showDetails(@item.Id)" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactUser.ShortName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bonus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExtraCharge)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Users", new { id = item.Id })">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" />
                                    <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z" />
                                </svg>
                            </a>
                            <a href="@Url.Action("Delete", "Users", new { id = item.Id })" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </td>
                    </tr>
                    <tr id="@item.Id" style="display:none">
                        <td colspan="6">
                            @Html.Action("Details", new { id = item.Id })
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">
                        <center>Данные отсутствуют</center>
                    </td>
                </tr>
            }

        </table>
        <a href="@Url.Action("Create","Users")" class="btn btn-default btn-circle">
            +
        </a>
    </div>
</div>

@section Scripts {
    <script>
        function showDetails(id) {
            var x = document.getElementById(id);
            if (x.style.display === 'none') {
                x.removeAttribute("style");
                var icon = document.getElementById("icon-" + id);
                icon.style.transform = 'rotate(-180deg)';

            } else {
                x.style.display = 'none';
                var icon = document.getElementById("icon-" + id);
                icon.style.transform = 'rotate(0deg)';
            }
        };

    </script>
}