@model IEnumerable<SCS.Models.TransportModels>
@{
    ViewBag.Title = "Samokat City Administration";
}

<br />
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div id="profitYesterday" class="card d-flex flex-row"
                 title="Наличные - @ViewData["YesterdayCashPaymentProfit"] руб. &#13;Картой - @ViewData["YesterdayCardPaymentProfit"] руб. &#13;Бонусами - @ViewData["YesterdayBonusPaymentProfit"] руб.">
                <div class="card-body ">
                    <h6 class="card-title">Прибыль за вчера</h6>
                    <p class="card-text text-start">@ViewData["YesterdayProfit"] руб.</p>
                </div>

                <div class="d-flex flex-row align-items-center w-25 p-3">
                    <h2 class="text-black-50">&#8381;</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="profitToday" class="card d-flex flex-row"
                 title="Наличные - @ViewData["TodayCashPaymentProfit"] руб. &#13;Картой - @ViewData["TodayCardPaymentProfit"] руб. &#13;Бонусами - @ViewData["TodayBonusPaymentProfit"] руб.">
                <div class="card-body ">
                    <h6 class="card-title">Прибыль за сегодня</h6>
                    <p class="card-text text-start">@ViewData["TodayProfit"] руб.</p>
                </div>

                <div class="d-flex flex-row align-items-center w-25 p-3">
                    <h2 class="text-black-50">&#8381;</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="cardInfoTransport" title="@ViewData["FreeTransportTitle"]" class="card d-flex flex-row">
                <div class="card-body ">
                    <h6 class="card-title">Свободные ТС</h6>
                    <p class="card-text text-start">@ViewData["FreeTransport"] шт.</p>
                </div>

                <div class="d-flex flex-row align-items-center w-25 p-3">
                    <h2 class="text-black-50">
                        &#128756;
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="cardInfoAccessories" title="@ViewData["FreeAccessoriesTitle"]" class="card d-flex flex-row">
                <div class="card-body " style="padding-right:0">
                    <h6 class="card-title">Свободные аксессуары </h6>
                    <p class="card-text text-start">@ViewData["FreeAccessories"] шт.</p>
                </div>

                <div class="d-flex flex-row align-items-center w-25 p-3">
                    <h2 class="text-black-50">
                        &#128736;
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column">

        @using (Ajax.BeginForm("Filter", null, null, new AjaxOptions { UpdateTargetId = "calendar" }, new { id = "calendarForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="d-flex justify-content-start align-content-start mt-5 mb-2">
                <input id="dateCalendar" name="dateCalendar" type="date" class="input-group date p-2" value="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="changeDateCalendar()" />
            </div>

        }
        <div id="calendar">
            @Html.Raw(ViewData["CalendarFreeTransport"])
        </div>
    </div>
</div>


<script>
    function changeDateCalendar() {
        //alert();
        $("#calendarForm").submit();
    }
</script>